/* EVERYTHING HERE IS PRIMARILY USED TO TOGGLE BETWEEN LIGHT AND DARK MODE. */
html {
  height: 100%;
  display: grid;
  align-items: center;
	justify-items: center;
	
	/* Default theme here is white with dark blue headers. */
  --bg: #fcfcfc;
  --bg-panel: #ebebeb;
  --bg-codeExample: rgb(223, 250, 251);
  --border-codeExample: rgb(42, 145, 155);
  --color-mainHeader: rgba(255, 0, 0, 0.698);
  --color-navHeader: rgba(255, 0, 85, 0.596);
  --color-pageHeader: rgb(255, 115, 0);
  --color-subHeadings: #0077ff;
  --color-text: #333333;
}

/* Dark theme has a very dark background and slightly brighter header color. */
html[data-theme="dark"] {
  --bg: #333333;
  --bg-panel: #434343;
  --bg-codeExample: rgb(131, 244, 248);
  --border-codeExample: rgb(21, 111, 119);
  --color-mainHeader: rgba(248, 39, 39, 0.945);
  --color-navHeader: rgba(255, 90, 145, 0.945);
  --color-pageHeader: rgb(255, 167, 24);
  --color-subHeadings: #3694ff;
  --color-text: #b5b5b5;
}

/* Main title header - just holds the color in a separate css class to easily change btw light and dark mode. */
.title-header {
  color: var(--color-mainHeader);
}

/* Nav bar color */
.nav-header {
  color: var(--color-navHeader);
}

/* Page header color */
.page-header {
  color: var(--color-pageHeader);
}

body {
	position: relative;
	width: 100%;
	height: 100%;
	color: #333;
	margin: 0;
	box-sizing: border-box;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
	background-color: var(--bg);
}

.text-container {
  background-color: var(--bg-panel);
  border-radius: 15px;
  display: grid;
  grid-template-columns: 80% auto;
  grid-template-rows: auto auto;
	grid-template-areas: "title switch" "content content";
	text-align: left;
}
.text-container h1 {
  margin: 0;
  color: var(--color-subHeadings);
}
.text-container p {
  color: var(--color-text);
  grid-area: content;
  font-size: 1.1em;
  line-height: 1.8em;
  margin-top: 2em;
}

input[type="checkbox"] {
  height: 0;
  width: 0;
  visibility: hidden;
}

label {
  cursor: pointer;
  text-indent: -9999px;
  width: 52px;
  height: 27px;
  background: grey;
  float: right;
  border-radius: 100px;
  position: relative;
}

label:after {
  content: "";
  position: absolute;
  top: 3px;
  left: 3px;
  width: 20px;
  height: 20px;
  background: #fff;
  border-radius: 90px;
  transition: 0.3s;
}

input:checked + label {
  background: var(--color-subHeadings);
}

input:checked + label:after {
  left: calc(100% - 5px);
  transform: translateX(-100%);
}

label:active:after {
  width: 45px;
}

html.transition,
html.transition *,
html.transition *:before,
html.transition *:after {
  transition: all 750ms !important;
  transition-delay: 0 !important;
}